In [1]:
import pandas as pd
import psycopg2
import numpy as np

In [15]:
df = pd.read_csv(r'C:\Users\Alexandra\Desktop\neo_pr\dm.fill_f101_round_f1.csv', sep =',')
df

Empty DataFrame
Columns: [from_date, to_date, chapter, ledger_account, characteristic, balance_in_rub, r_balance_in_rub, balance_in_val, r_balance_in_val, balance_in_total, r_balance_in_total, turn_deb_rub, r_turn_deb_rub, turn_deb_val, r_turn_deb_val, turn_deb_total, r_turn_deb_total, turn_cre_rub, r_turn_cre_rub, turn_cre_val, r_turn_cre_val, turn_cre_total, r_turn_cre_total, balance_out_rub, r_balance_out_rub, balance_out_val, r_balance_out_val, balance_out_total, r_balance_out_total, DATE]
Index: []

[0 rows x 30 columns]

In [16]:
df.loc[0, 'from_date'] = '02.02.2022'

In [17]:
df

,from_date,to_date,chapter,ledger_account,characteristic,balance_in_rub,r_balance_in_rub,balance_in_val,r_balance_in_val,balance_in_total,...,r_turn_cre_val,turn_cre_total,r_turn_cre_total,balance_out_rub,r_balance_out_rub,balance_out_val,r_balance_out_val,balance_out_total,r_balance_out_total,DATE
0,02.02.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Указываем путь к папке и имя файла
file_path = r'C:\Users\Alexandra\Desktop\neo_pr\dm.fill_f101_round_f.csv'

# Сохраняем DataFrame в CSV файл
df.to_csv(file_path, index=False)

In [2]:
import psycopg2

conn = psycopg2.connect("host='localhost' port='5432' dbname='postgres' user='postgres' password='postgres'")
# переменная conn создаёт подключение к БД
cur = conn.cursor() 
cur.copy_expert("COPY (SELECT * FROM dm.dm_f101_round_f) TO 'C:/Users/Alexandra/Desktop/neo_pr/dm.fill_f101_round_f1.csv' WITH CSV HEADER;", open('output.csv', 'w'))
conn.commit()
cur.close()
conn.close()

InsufficientPrivilege: could not open file "C:/Users/Alexandra/Desktop/neo_pr/dm.fill_f101_round_f1.csv" for writing: Permission denied
HINT:  COPY TO instructs the PostgreSQL server process to write a file. You may want a client-side facility such as psql's \copy.